@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
body{
    background: #E7E7E7;
}
img{
    width: 100%;   
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1200px;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.logo{
    width: 6%;
    height: 6%;
}
.navbar{
    display: flex;
    align-items: flex-end;
    column-gap: 5rem;

    margin-bottom: 10px;
}
.nav-link{
    font-size: 1rem;
    padding:1rem;
    border-radius: 0.2rem;
    color: #B71258;
}
.nav-link:hover{
    color: #B71258;
    background:#D2D2D2 ;
    transition: 0.3s all linear;
}
.cadastro{
  background-color: whitesmoke;
  width: 30%;
  height: 10%;
  margin-top: 20%;
  margin-left: 5%;
  border-radius: 15px;
  
}
.input-field{
    display:grid;
    justify-content:center
}
.btn_cadastro{
    width: 130px;
    height: 40px;
    border:none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #B71258;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin:10px 0;
    justify-content: center;
    
}
.btn_cadastro:hover{
    background-color: #CC5587;
}
.img_cadastro{
width: 30%;
height: 10%;
margin-right: 1%    ;
}